*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 37.5em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 31.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 112.5%; } }

body {
  font-family: 'Quicksand';
  font-weight: 400;
  scroll-behavior: smooth; }

input, label {
  font-family: "Quicksand";
  letter-spacing: 1px;
  font-weight: 400; }
  @media (max-width: 37.5em) {
    input, label {
      letter-spacing: 0; } }
  @media (max-width: 31.25em) {
    input, label {
      letter-spacing: 0; } }

.logo {
  border: 1px solid #206819;
  padding: .5rem 1rem;
  background-color: #206819;
  color: #CF651F;
  font-size: 3rem;
  transform: skewY(-4deg); }
  @media (max-width: 37.5em) {
    .logo {
      letter-spacing: 1px; } }

.anim {
  margin: .5rem 0 3rem 0;
  opacity: 0; }
  .anim .circle {
    display: inline-block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #CF651F;
    animation: bounce .5s ease-in infinite; }
    .anim .circle:nth-last-child(2) {
      animation-delay: .1s; }
    .anim .circle:nth-last-child(3) {
      animation-delay: .2s; }

.show {
  opacity: 1; }

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-1rem); } }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 2rem 15rem;
  padding-right: 25rem;
  font-family: "Roboto";
  letter-spacing: 1px; }
  @media (max-width: 75em) {
    .header {
      justify-content: space-between;
      padding: 4rem; } }
  @media (max-width: 37.5em) {
    .header {
      flex-direction: column;
      align-items: center;
      padding: 2rem 0; } }

@media (max-width: 37.5em) {
  .nav-container {
    margin-top: 3rem;
    width: 100%; } }

.nav {
  display: flex;
  flex-direction: row; }
  @media (max-width: 37.5em) {
    .nav {
      justify-content: space-around;
      width: 95%; } }

.nav-item {
  padding: 0 1rem;
  list-style: none;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    .nav-item {
      border-top: 1px solid transparent;
      width: 100%;
      text-align: center;
      padding: 1rem; } }

.nav-item:not(:last-child) {
  margin-right: 2rem; }
  @media (max-width: 37.5em) {
    .nav-item:not(:last-child) {
      margin-right: 0; } }

header {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  height: 45vh;
  color: #ffffff;
  background-color: #CF651F;
  /* clip-path:polygon(0 0, 100% 0, 100% 85%, 0 100%); */ }
  @media (max-width: 37.5em) {
    header {
      justify-content: space-around;
      height: 60vh; } }

.choice-container {
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: baseline; }
  @media (max-width: 37.5em) {
    .choice-container {
      flex-direction: column;
      align-items: center; } }

.input-container {
  display: flex;
  flex-direction: column;
  margin-right: 4rem; }
  @media (max-width: 37.5em) {
    .input-container {
      margin-right: 0;
      margin-bottom: 2rem; } }

#header-img {
  position: fixed;
  top: 30%;
  left: 10rem;
  z-index: 1;
  width: 20rem;
  height: 20rem; }
  @media (max-width: 75em) {
    #header-img {
      top: 45%;
      left: 5rem;
      transform: translateY(-50%);
      width: 15rem;
      height: 15rem; } }
  @media (max-width: 37.5em) {
    #header-img {
      position: absolute;
      top: 60%;
      left: 80%;
      transform: translate(-50%, -50%);
      width: 10rem;
      height: 10rem; } }

main {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 37.5em) {
    main {
      padding: 0; } }

.app-info {
  background-image: linear-gradient(to right, #CF651F, #206819);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  color: transparent;
  text-transform: uppercase;
  margin-top: -6rem;
  margin-bottom: 3rem; }

#country {
  width: 25rem;
  max-width: 30rem;
  font-size: 1.6rem;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: white; }

#country:focus {
  outline: none; }

#country::placeholder {
  color: #ffffff; }

.input-label {
  padding: 1rem;
  font-size: 1.4rem; }

.btn {
  background-color: #2E9525;
  height: 3.6rem;
  border: none;
  color: white;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 3px;
  cursor: pointer;
  /* box-shadow: 0 .5rem 1rem #00000059; */
  box-shadow: 0 .3rem .5rem #0000004f;
  text-transform: uppercase;
  transition: all .3s ease-in-out; }
  @media (max-width: 37.5em) {
    .btn {
      width: 40%; } }

.btn:not(:last-child) {
  margin-right: 1rem; }
  @media (max-width: 37.5em) {
    .btn:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1rem; } }

.btn:focus {
  outline: none;
  background-color: #206819;
  /* border: 1px solid #ffffff; */
  box-shadow: 0 .3rem .5rem #00000093; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 .3rem .9rem #0000004f; }

.btn:active {
  transform: translateY(0.5rem);
  box-shadow: 0 .2rem .3rem #0000004f; }

#filter {
  width: 50%;
  padding: 1.5rem 1.2rem;
  max-width: 800px;
  box-shadow: 0 .3rem .5rem #00000094;
  border: none;
  font-size: 1.6rem;
  color: #CF651F; }
  @media (max-width: 37.5em) {
    #filter {
      width: 90%; } }

#filter:focus {
  outline: none;
  border: none;
  background-color: #fafafa;
  color: #2f2f2f; }

#filter::placeholder {
  color: #CF651F; }

.info-container {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  width: 60%;
  z-index: 2;
  max-width: 80rem;
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin-top: 2rem;
  box-shadow: 0 .3rem .5rem #00000094; }
  @media (max-width: 75em) {
    .info-container {
      width: 80%; } }
  @media (max-width: 56.25em) {
    .info-container {
      width: 95%; } }
  @media (max-width: 37.5em) {
    .info-container {
      height: 20rem;
      padding: .5rem 0;
      padding-top: 1rem; } }

.info-container:last-child {
  margin-bottom: 3rem; }

.info-tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 37.5em) {
    .info-tags {
      display: none; } }

.info-image-container {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem; }
  @media (max-width: 37.5em) {
    .info-image-container {
      width: 5rem;
      height: 5rem; } }

.info-text {
  text-align: center;
  letter-spacing: 1px; }
  @media (max-width: 37.5em) {
    .info-text {
      letter-spacing: 0;
      height: 10rem; } }

.info-image {
  width: 100%; }

.info {
  padding: 0 3rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 70%; }
  @media (max-width: 37.5em) {
    .info {
      padding: 0 .5rem; } }

.info-items-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 0;
  margin-top: 2rem; }

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: .5rem; }

.number {
  font-size: 2rem;
  margin-bottom: 7rem;
  text-align: center; }
  @media (max-width: 37.5em) {
    .number {
      font-size: 1.6rem;
      margin-bottom: 5rem; } }

.stat {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize; }
  @media (max-width: 37.5em) {
    .stat {
      letter-spacing: 0;
      font-size: 1.6rem; } }

.active {
  transition: all .3s ease-in-out;
  border-bottom: 2px solid #206819;
  padding-bottom: .6rem;
  padding-top: .6rem;
  background-color: #924715; }
